.mobile-nav > div{
    display: none;
}

.mobile-nav{
    display: none;
}

/*//////Media queries///////*/

@media only screen and (max-width: 767px){


    .hamburger{
        display: flex;
        margin: 1rem;
    }

    .mobile-nav > div{
        display: flex;
        justify-content: space-between;
    }

    .mobile-nav{
        display: block;
    }

    .swiper-button-next{
        display: none !important
    }

    .swiper-button-prev{
        display: none !important
    }


    .desktop-nav{
        display: none;
    }

    h1{
        font-size: 6vh;
    }

    .container{
        padding: 0 !important;
    }

    footer{
        padding: 1rem !important;
    }
}
