section{
    margin-bottom: 15rem;
}

.section1{
    width: 100%;
    display: flex;
    align-items: center;
}

.section1 div{
    width: 75%;
}

.section3{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section3 h1{
    margin-bottom: 2rem;
}


.section1 > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto
}

.section1ContentWrapper{
    width: 60%;
}

.section1ContentWrapper h4{
    margin-top: 2rem
}

.section2 > h1{
    text-align: center;
}

.cardsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.howitworks1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 3rem;
}

.howitworks2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.cardWrapper{
    width: 25%;
    height: auto;
}

.cardHeader{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cardHeader > img{
    margin-right: 1rem;
}

.section4 > h2{
    text-align: center;
}

.companiesContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 7rem;
}

.companiesContainerMobile img{
    width: 100%;
    margin-top: 3rem;
}

.companiesContainerMobile{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.companiesContainerMobile div{
    display: inherit;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.section5 > h1{
    text-align: center;
}

.slick-slide{
    width: 330px !important;
}

.section6{
    display: flex;
    justify-content: space-evenly;
}


.faqSubHeader p{
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 130%;
}

.faqSubHeader > div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.faqLeft > h1{
    margin: 0 0 3rem 0;
}

.faqLeft{
    margin: 0 0 3rem 0;
}

.faqRight{
    display: flex;
    width: 50%;
}

.section7{
    background: url("../../assets/images/start-working-img.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 30rem;
    padding-top: 10rem;
    margin-bottom: 0 !important;
}

.startWorkingWrapper{
    width: auto;
    height: auto;
    margin-left: 50%;
}


/* RESPONSIVE */


@media screen and (max-width: 1780px){
    .section1 > div > div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

@media only screen and (max-width: 767px){

    .section1{
        width: 100%;
        flex-direction: column;
    }

    .section1ContentWrapper h1 {
        margin-bottom: 1rem;
    }

    .section1 div{
        width: 100%;
    }

    .section1 > div > div{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        margin-top: 2rem;
    }

    .cardsContainer div{
        margin-top: 1rem;
    }

    section{
        margin-bottom: 1rem;
        margin-top: 30%;
    }

    .cardWrapper{
        width: auto;
        height: auto;
        padding: 1rem;
    }

    .howitworks1{
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .howitworks1 div{
        width: 100%;
    }

    .howitworks2{
        flex-wrap: wrap;
    }

    .section6{
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .section6 h1{
        font-size: 38px;
    }

    .companiesContainer{
        flex-wrap: wrap;
    }

    .faqRight{
        width: 100%;
    }

    .faqSubHeader{
        display: none;
    }

    .startWorkingWrapper{
        margin-left: 0 !important
    }

    .mobilePadding{
        padding: 1rem;
    }

    .companiesContainer div{
        margin-bottom: 2rem;
    }

    .startWorkingWrapperMob{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .startWorkingText{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: auto;
        background: #E3E3E3;
        overflow: hidden;
    }

    .startWorkingText h1{
        font-size: 35px
    }

    .section7Mob{
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 320px){

    .startWorkingText{
        margin-left: -7rem;
    }
}

@media only screen and (max-width: 425px){
    .startWorkingText h1{
        font-size: 1.5rem !important
    }

    .startWorkingText{
        margin-left: -30%;
    }
}


